@model Bloggie.Web.Models.ViewModels.EditTagRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Tag - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <p>Name: @Model.Name</p>
    <p>Display Name: @Model.DisplayName</p>
</div>
